body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*GRADIENTE ANIMADO */
header {
  background: linear-gradient(-45deg, #0f0c29, #302b63, #24243e, #0f0c29);
  /*background: linear-gradient(-5deg, #4f65d4, #6c5ce7, #a29bfe, #4f65d4); estilo em ondas*/
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;  /*alterei de 5 para 10*/
  color: white;
  text-align: center;
  padding: 40px 0;
}

/* Animação de gradiente infinito*/
@keyframes gradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
} 

/* FOTO DE PERFIL COM EFEITO DE GIRO */
.foto-perfil {
  perspective: 500px; /* Cria profundidade para efeito 3D */
}

.foto-perfil img {
  width: 120px;
  border-radius: 50%;   /* Deixa a imagem redonda */
  margin-bottom: 5px;   /* Espaço entre a foto o nome*/
  transition: transform 0.6s ease;  /* Transição suave no hover */
}

/* Efeito: gira a imagem no eixo Y (horizontal) ao passar o mouse */
.foto-perfil img:hover {
  transform: rotateY(360deg);
}

nav {
  background-color: #8012a1;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 10px 0;
}

/* CONTEÚDO PRINCIPAL */
.container {
  padding: 20px;
}

.secao {
  display: none;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  cursor: default;
}

/* Apenas a seção ativa fica visível */
.secao.ativo {
  display: block;
}

/* Link ativo (destacado) */
nav a.ativo {
  color: rgb(229, 255, 0);
}

/* Padroniza títulos e parágrafos das seções */
.container h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.container p {
  font-size: 16px;
  line-height: 1.5;
}
.social-icons {
  display: flex;
  gap: 10px;
}

/* Responsividade para celular */
@media (max-width: 600px) {
  header {
    padding: 20px 10px;
  }

  .foto-perfil img {
    width: 80px;
  }

  h1 {
    font-size: 30px;
  }

  nav {
    flex-direction: row; /* USAR O FLEX PARA MENU HAMBURGUER*/
    gap: 20px; /* espaço entre as palavras dentro do menu*/
  }
}
